<h2>Search for Notices</h2>

<form [formGroup]="form">
    <!-- <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput [formControl]="form.controls.city">
    </mat-form-field> -->

    <app-cities-autocomplete (postCity)="handleCitySelection($event)"></app-cities-autocomplete>
        
    <mat-form-field appearance="outline">
        <mat-label>Search in titles</mat-label>
        <input matInput [formControl]="form.controls.title">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select [formControl]="form.controls.categoryId">
            @for (category of categories; track $index) {
                <mat-option [value]="category.id">{{category.name}}</mat-option>
            }        
        </mat-select>
    </mat-form-field>

    <div>
        <mat-checkbox [formControl]="form.controls.containsImage">Must include image</mat-checkbox>
    </div>

    <div class="container-clear">
        <button mat-flat-button (click)="clear()" color="warn">Clear</button>
    </div>
</form>

<h2>Recent & new</h2>

<app-notices-list [notices]="noticesList" role="admin"></app-notices-list>
