<mat-toolbar>
    <span>
        <a mat-button routerLink="">
            <mat-icon>campaign</mat-icon>Notice Board
        </a>
    </span>
    

    <!-- <div>
        <a mat-button routerLink="my-notices/search">Search for notices</a>
    </div> -->
    <app-authorized>
        <ng-container authorized>
            <div>
                <a mat-button routerLink="my-notices">My Notices</a>
            </div>     
            <div>
                <a mat-button routerLink="my-notices/create">Create new notice</a>
            </div>           
            <div>
                <a mat-button routerLink="categories">Categories</a>
            </div>
        </ng-container>
    </app-authorized>

    <div class="space"></div>
   
    <app-authorized style="display: inline;">
        <ng-container authorized>
            <span class="greeting">Hello, {{securityService.getJWTClaim(userId) | lowercase}}</span>
            <a mat-button (click)="securityService.logout()">Logout</a>
        </ng-container>
        <ng-container notAuthorized>
            <a mat-button routerLink="login">Login</a>
            <a mat-button routerLink="register">Register</a>
        </ng-container>
    </app-authorized>
</mat-toolbar>
